@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

$header-color: #3056d3;
$redeembtn-color:#083AA9;
$signin-color: #3056d33d;
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

header{
        background-color: $header-color;
        height: 40vh;
        color: white;
        padding: 40px 90px 0 90px;

        .text{
            text-align: center;
            padding-top: 50px;
        }
        .nav-bar{
            // border: 1px solid black;
            display: flex;
            justify-content: space-between;
           

            .nata{
                color: white;
                text-decoration: none;
                font-weight: bolder;
                font-size: larger;
                font-size: large;
                font-weight: 900;
               
            }
            .nav-keys{
                text-decoration: none;
                width: 400px;
                display: flex;
                justify-content: space-between;
                font-weight: 600;
                
                
               
                
                
               
            }
            .signin-btn{
                width: 80px;
                height: 40px;
                border-radius: 3px;
                border: none;
                background-color: $signin-color;
                color: white;
                font-size: medium;
                cursor: pointer;

                &:hover{
                    color: blue;
                    transition: all 0.5sec ease-in-out;
                }
            }

            .signup-btn{
                width: 80px;
                height: 40px;
                border-radius: 3px;
                border: none;
                background-color: blue;
                color: white;
                font-size:medium;
                cursor: pointer;

                &:hover{
                    color:black;
                    background-color: white;
                    transition: all 0.5sec ease-in-out;
                }
            } 
          
            
        }

}
section{

    .form-text{
 
        background-color: #F1F6F5;
        display: flex;
        justify-content: space-between;
        padding: 200px 150px;

        .form{
            // border: 1px solid red;
            background-color: white;
            padding: 50px 50px;
            height: 60vh;
            width: 300px;

            .textabove-form{
                // border: 1px solid red;
                padding-bottom: 10px;
                font-weight: bolder;
                font-size: 25px;
                color: black;
   
            }
            .input{
            // border: 1px solid red;
            width: 200px;
            height: 40px;
            border: none;
            background-color: white;
            
           }
        
           .btn{
            background-color:$redeembtn-color;
            width: 200px;
            height: 40px;
            border: none;
            color: white;
            font-size: larger;
            border-radius: 3px;


            &:hover{
                background-color: #1808a9;
            }
           }
        }

    }
   
}



